<main>
    <div class="cuerpo">
        <div class="media">
            <img src="/imagenes/rosenotfound.gif" alt="notfound" style="width=100%"/>
        </div>
        <div>
            <h1>Uff man, lo que estás buscando no existe</h1>
        </div>
    </div>
</main>
