<main>
    <div class="cuerpo">
        <div class="media">
            <img src="/imagenes/rosenotfound.gif" alt="prohibido" style="width=100%" />
        </div>
        <div>
            <h1>Uff man, los VPNs están prohibidos</h1>
        </div>
    </div>
</main>
