@model CrearHiloViewModel

<div class="sombra" style="visibility:hidden;">
    <form  
        id="crear-hilo-form" 
        class="formulario crear-hilo panel"
        onsubmit="FormHilo.crearHilo(event)"
    >
        <input 
            asp-for="Archivo" 
            name="archivo" 
            onchange="FormHilo.imagenSeleccionada(event)" 
            type="file" 
            id="hilo-input" 
            style="position: absolute; top:-1000px"
            
            >

        <span asp-validation-for="Archivo"></span>
        <div  class="video-preview ">
            <span onclick="FormHilo.seleccionarArchivo(event)" class="fe fe-upload ico-btn"></span>
            <span class="descripcion"style="position: absolute">Subi una imagen o un video para crear el hilo</span>
        </div>

        <span asp-validation-for="Titulo"></span>
        <input asp-for="Titulo" placeholder="Titulo">

        <span asp-validation-for="CategoriaId"></span>
        <select asp-for="CategoriaId" id="">
            <option value="-1" selected="selected" disabled="disabled">Categoría</option>
            @foreach(var c in Constantes.Categorias) 
            {
                <option value="@c.Id">@c.Nombre</option>
            }
        </select>

        <span asp-validation-for="Contenido" ></span>
        <textarea asp-for="Contenido" placeholder="Escribi un redactazo..."></textarea>

        <div class="errores-extra">
            
        </div>

        <button class="btn" type="submit">Crear</button>
    </form>

</div>
